@using Musichord.Models.Entities
@model IEnumerable<Friendship>


@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row">
        <h1 class="text-primary text-center">Welcome!</h1>
    </div>
</div>

@section Scripts{
    <script defer type="module" src="~/js/musichordIndex.js"></script>
} 
