:root {
    --bs-musichord-green: #0deb5c;
    --bs-musichord-green-rgb: 13, 235, 92;
}

.text-musichord-green { color: var(--bs-musichord-green) !important; }
.bg-musichord-green { background-color: var(--bs-musichord-green) !important; }
.border-musichord-green { border-color: var(--bs-musichord-green) !important; }
.btn-musichord-green {
    background-color: var(--bs-musichord-green);
    color: #000;
    border: none;
}
.btn-musichord-green:hover {
    background-color: #0bc44d;
    color: #000;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}